In [2]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#load the dataset
df=pd.read_csv('Obesity Classification.csv')

In [4]:
# pre-processing of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      108 non-null    int64
 1   Age     108 non-null    int64
 2   Gender  108 non-null    object
 3   Height  108 non-null    int64
 4   Weight  108 non-null    int64
 5   BMI     108 non-null    float64
 6   Label   108 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 6.0+ KB

In [5]:
df.columns

Index(['ID', 'Age', 'Gender', 'Height', 'Weight', 'BMI', 'Label'], dtype='object')

In [6]:
df.head()

   ID  Age  Gender  Height  Weight   BMI          Label
0   1   25    Male     175      80  25.3  Normal Weight
1   2   30  Female     160      60  22.5  Normal Weight
2   3   35    Male     180      90  27.3     Overweight
3   4   40  Female     150      50  20.0    Underweight
4   5   45    Male     190     100  31.2          Obese

In [7]:
df.tail()

      ID  Age  Gender  Height  Weight  BMI        Label
103  106   11    Male     175      10  3.9  Underweight
104  107   16  Female     160      10  3.9  Underweight
105  108   21    Male     180      15  5.6  Underweight
106  109   26  Female     150      15  5.6  Underweight
107  110   31    Male     190      20  8.3  Underweight

In [8]:
len(df)

108

In [9]:
# Check for null values in each column
null_values = df.isnull().sum().max

In [10]:
print(null_values)

<bound method Series.max of ID        0
Age       0
Gender    0
Height    0
Weight    0
BMI       0
Label     0
dtype: int64>

In [11]:
max_null_values = df.isnull().sum().max()

In [12]:
print(max_null_values)

0

In [13]:
# we do not have any null values in this dataset
df

      ID  Age  Gender  Height  Weight   BMI          Label
0      1   25    Male     175      80  25.3  Normal Weight
1      2   30  Female     160      60  22.5  Normal Weight
2      3   35    Male     180      90  27.3     Overweight
3      4   40  Female     150      50  20.0    Underweight
4      5   45    Male     190     100  31.2          Obese
..   ...  ...     ...     ...     ...   ...            ...
103  106   11    Male     175      10   3.9    Underweight
104  107   16  Female     160      10   3.9    Underweight
105  108   21    Male     180      15   5.6    Underweight
106  109   26  Female     150      15   5.6    Underweight
107  110   31    Male     190      20   8.3    Underweight

[108 rows x 7 columns]

In [14]:
#drop the Id column as it serves no purpose in this dataset
df.drop('ID', axis=1, inplace=True)

In [15]:
# this is our new dataset
df

     Age  Gender  Height  Weight   BMI          Label
0     25    Male     175      80  25.3  Normal Weight
1     30  Female     160      60  22.5  Normal Weight
2     35    Male     180      90  27.3     Overweight
3     40  Female     150      50  20.0    Underweight
4     45    Male     190     100  31.2          Obese
..   ...     ...     ...     ...   ...            ...
103   11    Male     175      10   3.9    Underweight
104   16  Female     160      10   3.9    Underweight
105   21    Male     180      15   5.6    Underweight
106   26  Female     150      15   5.6    Underweight
107   31    Male     190      20   8.3    Underweight

[108 rows x 6 columns]

In [16]:
# we import new libraries to encode the Gender column
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [17]:
# Performing Label Encoding for "Gender Column"
label = LabelEncoder()

In [18]:
label.fit_transform(df.Gender)

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1])

In [19]:
df['Gender']=label.fit_transform(df.Gender)

In [20]:
df.Gender

0      1
1      0
2      1
3      0
4      1
      ..
103    1
104    0
105    1
106    0
107    1
Name: Gender, Length: 108, dtype: int32

In [21]:
type(df['Gender'])

pandas.core.series.Series

In [22]:
# create input data as x input
x=df[df.columns[:-1]]

In [23]:
x

     Age  Gender  Height  Weight   BMI
0     25       1     175      80  25.3
1     30       0     160      60  22.5
2     35       1     180      90  27.3
3     40       0     150      50  20.0
4     45       1     190     100  31.2
..   ...     ...     ...     ...   ...
103   11       1     175      10   3.9
104   16       0     160      10   3.9
105   21       1     180      15   5.6
106   26       0     150      15   5.6
107   31       1     190      20   8.3

[108 rows x 5 columns]

In [24]:
# create input data as y input
y=df[df.columns[-1]]

In [25]:
y

0      Normal Weight
1      Normal Weight
2         Overweight
3        Underweight
4              Obese
           ...
103      Underweight
104      Underweight
105      Underweight
106      Underweight
107      Underweight
Name: Label, Length: 108, dtype: object

In [26]:
# so we seperate x variable and y variable. Now we import libraries for train_test split
from sklearn.model_selection import train_test_split

In [27]:
# Splitting Dataset into Training & Test data set
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=40)

In [28]:
#now we check each training and testing data
x_train.head()

    Age  Gender  Height  Weight   BMI
40   27       1     180      75  24.2
54   97       1     200      95  27.0
23   83       0     150      50  20.0
9    70       0     120      20  10.0
26   98       1     200     110  34.2

In [29]:
x_test.head()

    Age  Gender  Height  Weight   BMI
15   43       0     140      50  20.0
63   41       0     140      55  21.2
17   53       0     130      40  16.7
93   12       1     175      15   5.6
2    35       1     180      90  27.3

In [30]:
y_train.head()

40    Normal Weight
54       Overweight
23      Underweight
9       Underweight
26            Obese
Name: Label, dtype: object

In [31]:
y_test.head()

15      Underweight
63    Normal Weight
17      Underweight
93      Underweight
2        Overweight
Name: Label, dtype: object

In [32]:
# on changing Random State number there will be a New Random Split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=69)

In [33]:
# X_train has changed and similarly other variables will be changed.
# If the random state is removed, there will be no fixed splitting frame.
x_train.head()

     Age  Gender  Height  Weight   BMI
67    61       0     120      75  25.0
66    56       1     210      95  27.0
91    53       1     210      55  21.2
102   57       0     120      25  10.0
42    37       1     190      85  26.1

In [34]:
#now we import decision tree classfier
from sklearn.tree import DecisionTreeClassifier

In [35]:
# Creating new model
model_kiran = DecisionTreeClassifier()

In [36]:
# Training new model with Training and Test Data sets
model_kiran.fit(x_train,y_train)

DecisionTreeClassifier()

In [37]:
# Now testing new Model prediction by providing Test Data set
y_kiran=model_kiran.predict(x_test)

In [38]:
# this is our variable which has learned the test data
y_kiran

array(['Obese', 'Normal Weight', 'Normal Weight', 'Underweight',
       'Normal Weight', 'Underweight', 'Normal Weight', 'Overweight',
       'Normal Weight', 'Underweight', 'Underweight', 'Normal Weight',
       'Underweight', 'Obese', 'Normal Weight', 'Normal Weight', 'Obese',
       'Underweight', 'Obese', 'Underweight', 'Underweight',
       'Normal Weight'], dtype=object)

In [39]:
# to check accuracy we need to import another library
from sklearn.metrics import accuracy_score, classification_report

In [40]:
# Compare predictions with testing data given
# this will only give accuracy
accuracy = accuracy_score(y_test, y_kiran)
print(accuracy)

0.9545454545454546

In [41]:
# Generate a detailed classification report
report = classification_report(y_test, y_kiran)

In [42]:
# here we get entire detailed report
print(report)

               precision    recall  f1-score   support

Normal Weight       0.89      1.00      0.94         8
        Obese       1.00      1.00      1.00         4
   Overweight       1.00      0.50      0.67         2
  Underweight       1.00      1.00      1.00         8

     accuracy                           0.95        22
    macro avg       0.97      0.88      0.90        22
 weighted avg       0.96      0.95      0.95        22

In [45]:
#  so finally we get an accuracy of 95% when we keep test_size as 80/20
# if we change this to 70/30 then
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=69)
model_kiran= DecisionTreeClassifier()
model_kiran.fit(x_train,y_train)
y_kiran=model_kiran.predict(x_test)
accuracy = accuracy_score(y_test, y_kiran)
print(accuracy)
report = classification_report(y_test, y_kiran)
print(report)

0.9696969696969697
               precision    recall  f1-score   support

Normal Weight       0.90      1.00      0.95         9
        Obese       1.00      1.00      1.00         5
   Overweight       1.00      0.86      0.92         7
  Underweight       1.00      1.00      1.00        12

     accuracy                           0.97        33
    macro avg       0.97      0.96      0.97        33
 weighted avg       0.97      0.97      0.97        33

In [44]:
 # we get 97% accuracy by 70/30 split.