In [2]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
print("importing is done")

importing is done

In [3]:
#load the dataset
df=pd.read_csv('heart.csv')

In [4]:
#checking the dataset
df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
df.dtypes

age           int64
sex           int64
cp            int64
trtbps        int64
chol          int64
fbs           int64
restecg       int64
thalachh      int64
exng          int64
oldpeak     float64
slp           int64
caa           int64
thall         int64
output        int64
dtype: object

In [7]:
df.describe

<bound method NDFrame.describe of      age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0     63    1   3     145   233    1        0       150     0      2.3    0
1     37    1   2     130   250    0        1       187     0      3.5    0
2     41    0   1     130   204    0        0       172     0      1.4    2
3     56    1   1     120   236    0        1       178     0      0.8    2
4     57    0   0     120   354    0        1       163     1      0.6    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
298   57    0   0     140   241    0        1       123     1      0.2    1
299   45    1   3     110   264    0        1       132     0      1.2    1
300   68    1   0     144   193    1        1       141     0      3.4    1
301   57    1   0     130   131    0        1       115     1      1.2    1
302   57    0   1     130   236    0        0       174     0      0.0    1

     caa  thall  output
0      0      1       1
1      0      2       1
2      0      2       1
3      0      2       1
4      0      2       1
..   ...    ...     ...
298    0      3       0
299    0      3       0
300    2      3       0
301    1      3       0
302    1      2       0

[303 rows x 14 columns]>

In [8]:
len(df)

303

In [9]:
len(df.columns)

14

In [10]:
# here we undersstand that dataset has 303 rows and 14 columns 
# Now we check if any Null value is present or not 
df.isnull().sum()

age         0
sex         0
cp          0
trtbps      0
chol        0
fbs         0
restecg     0
thalachh    0
exng        0
oldpeak     0
slp         0
caa         0
thall       0
output      0
dtype: int64

In [11]:
# we use max fucntion to find null values
df.isnull().sum().max()

0

In [12]:
# create input data as x input andcreate output data as y
x = df[df.columns[1:-1]]
y = df[df.columns[-1]]

In [13]:
x

,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,1,3,145,233,1,0,150,0,2.3,0,0,1
1,1,2,130,250,0,1,187,0,3.5,0,0,2
2,0,1,130,204,0,0,172,0,1.4,2,0,2
3,1,1,120,236,0,1,178,0,0.8,2,0,2
4,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
298,0,0,140,241,0,1,123,1,0.2,1,0,3
299,1,3,110,264,0,1,132,0,1.2,1,0,3
300,1,0,144,193,1,1,141,0,3.4,1,2,3
301,1,0,130,131,0,1,115,1,1.2,1,1,3
302,0,1,130,236,0,0,174,0,0.0,1,1,2

In [14]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

In [15]:
# we have our x and y variable ready.
from sklearn import preprocessing
from sklearn import tree
from sklearn.model_selection import train_test_split
print("importing is done")

importing is done

In [16]:
# now we create training and testing data for our model
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=69)

In [17]:
# now we check our testing and training variables
x_train.head(5)

,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
77,1,1,140,221,0,1,164,1,0.0,2,0,2
117,1,3,120,193,0,0,162,0,1.9,1,0,3
124,0,2,94,199,0,1,179,0,0.0,2,0,2
237,1,0,140,293,0,0,170,0,1.2,1,2,3
122,0,2,112,268,0,0,172,1,0.0,2,0,2

In [18]:
x_test.head(5)

,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
213,0,0,145,307,0,0,146,1,1.0,1,0,3
243,1,0,152,274,0,1,88,1,1.2,1,1,3
291,1,0,114,318,0,2,140,0,4.4,0,3,1
232,1,0,160,289,0,0,145,1,0.8,1,1,3
15,0,2,120,219,0,1,158,0,1.6,1,0,2

In [19]:
y_train.head(5)

77     1
117    1
124    1
237    0
122    1
Name: output, dtype: int64

In [20]:
y_test.head(5)

213    0
243    0
291    0
232    0
15     1
Name: output, dtype: int64

In [21]:
#now we import decision tree classfier
from sklearn.tree import DecisionTreeClassifier
print("importing is done")

importing is done

In [22]:
# Creating new model
model_heart = DecisionTreeClassifier()

In [23]:
# Our training and testing x, y variables are ready.
# now we fit them in a model
model_heart.fit(x_train,y_train)

DecisionTreeClassifier()

In [24]:
# now the training data is fed to our model
# Now testing new Model prediction by providing Test Data set
y_heart=model_heart.predict(x_test)

In [25]:
y_heart

array([0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0], dtype=int64)

In [26]:
# to check accuracy we need to import another library
from sklearn.metrics import accuracy_score, classification_report
print("importing is done")

importing is done

In [27]:
# Compare predictions with testing data given
# this will only give accuracy
accuracy = accuracy_score(y_test, y_heart)
print(accuracy)

0.8032786885245902

In [28]:
# Generate a detailed classification report
report = classification_report(y_test, y_heart)
print(report)

              precision    recall  f1-score   support

           0       0.79      0.79      0.79        29
           1       0.81      0.81      0.81        32

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.80      0.80      0.80        61

In [29]:
#  we get an accuracy of 80% when we keep test_size as 80/20
# if we change this to 70/30 then
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=69)
model_heart.fit(x_train,y_train)
y_heart=model_heart.predict(x_test)
accuracy = accuracy_score(y_test, y_heart)
print(accuracy)
report = classification_report(y_test, y_heart)
print(report)

0.7362637362637363
              precision    recall  f1-score   support

           0       0.72      0.68      0.70        41
           1       0.75      0.78      0.76        50

    accuracy                           0.74        91
   macro avg       0.73      0.73      0.73        91
weighted avg       0.74      0.74      0.74        91

In [32]:
#  we get an accuracy of 73% when we keep test_size as 70/30
# if we change this to 67/33 then
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=69)
model_heart.fit(x_train,y_train)
y_heart=model_heart.predict(x_test)
accuracy = accuracy_score(y_test, y_heart)
print(accuracy)
report = classification_report(y_test, y_heart)
print(report)

0.75
              precision    recall  f1-score   support

           0       0.69      0.82      0.75        45
           1       0.83      0.69      0.75        55

    accuracy                           0.75       100
   macro avg       0.76      0.76      0.75       100
weighted avg       0.76      0.75      0.75       100

In [31]:
#  we get an accuracy of 75% when we keep test_size as 67/33 split.
# thus we conclude that 80/20 split gives better accuracy for this dataset.